<div style="padding: 3%; background-image: linear-gradient(to right,#36d1dc, #5b86e5); height: 100%;">
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 50%; color: whitesmoke;">Generate Receipt</th>
        <th scope="col" style="width: 50%; color: whitesmoke;">Reciept View</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td ><app-recipt-body></app-recipt-body></td>
        <td><app-recipt-view></app-recipt-view></td>
        
      </tr>
    </tbody>
  </table>

</div>