<div class="container">
    <div class="container-fluid">
        <!-- container starts -->
        <div class="row">
            <hr style="width:50%">
        </div>
        <div class="row">
            <p class="heading center">Witness an evolving digital invoicing Solution</p>
        </div>
        <div class="row">
            <hr style="width:50%">
        </div>
        <div class="row">
            <p class="text center desp">With a need for digital invoicing models, team Valkyrie is on a mission to model any invoicing solution catered to your need. We know you need control over your your records, so we lead in creating a product that works according to you!


            </p>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4 bg-light center trans customShadow">
                <img class="mx-auto d-block rounded" src="./assets/bdg1.png">
                <p class="heading">100% Satisfaction or 100% refund</p>
                <p class="text">We don't rest until you get the best!</p>
                <p class="text">Our team ensures to hand craft a payment receipt model according to your need, custom and unique always!</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 bg-light center trans customShadow">
                <img class="mx-auto d-block rounded" src="./assets/bdg2.png">
                <p class="heading">Quality service, always ready for you!</p>
                <p class="text">Highest standards, Supreme Quality</p>
                <p class="text">We work with highest regulatory standards to ensure the best quality product for your business!</p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 bg-light center trans customShadow">
                <img class="mx-auto d-block rounded" src="./assets/bdg3.png">
                <p class="heading">Secure and Safe!</p>
                <p class="text">Sleep well with our secure practices</p>
                <p class="text">Our Api's ensure that our standards remain high and follow international security guidelines</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <a class="nav-link" routerLink="/generate" class="btn btn-primary btn-lg active center trans" role="button" aria-pressed="true">Get started with Invoicing here</a>
        </div>
    </div>
    <!-- container ends -->

</div>